@charset "UTF-8";
.searchbox2 {
  padding: 10px;
  /* Gör litet rum 10 pixlar överallt i sökdelen */
  border-bottom: 1px solid #000000;
  /* Täcka en bottenram 1 pixlar med typen solid och den ska ha färgen #000000 */
}

.loginbox2 {
  padding: 10px;
  /* Gör litet rum 10 pixlar överallt i logga in delen */
}

.registerbox {
  position: relative;
  left: 40%;
  /* Flytta registerdelen till 40% */
}

/* Mobilt cssmodell */
@media only screen and (max-width: 1400px) {
  #usrtxt {
    width: 70px;
    /* Gör användarnamnet textfält ha bredd 70 pixlar */
  }

  .loginbox2 {
    font-size: 13px;
    /* Låt logga in delen ha textstorlek 13 pixlar */
  }

  #word {
    width: 70px;
    /* Gör den ha bredd 70 pixlar */
  }

  #usrpass {
    width: 70px;
    /* Gör den ha bredd 70 pixlar */
  }

  .registerbox {
    position: relative;
    left: -2%;
    /* Flytta registrera delen till höger  */
  }

  .fullnametxt,
.emailtxt,
.passwordtxt,
.usrnametxt {
    width: 70px;
    /* Gör dem ha bredd 70 pixlar */
  }

  .title,
.content,
.author,
.changetitle,
.changecontent {
    width: 200px;
    /* Gör dem ha bredd 200 pixlar */
  }

  .register {
    margin-left: -70px;
    /* Flytta registrera delen till höger */
  }
}
hr {
  width: 150px;
  /* Gör linjen ha 150 pixlar bredd */
  float: left;
  /* Flytta linjen vänster */
}

a {
  text-decoration: none;
  /* Ta bort understrykning för länkar */
}

.link {
  color: #0000ff;
  /* Gör länken gå tillbaa länken blå */
}

.link:hover {
  cursor: pointer;
  /* När man pekar på länken gå tillbaka då visas markören pointer  */
}

#doit {
  cursor: pointer;
  /* Gör länkarna delen för användaresdelen ha markrören pointer */
  color: #0000ff;
  /* Gör länkarna delen för användaresdelen ha färg blå */
}

.list {
  list-style-position: inside;
}

.maintable {
  margin: 0 10px 0 10px;
  /* Flytta ramet som täcker hela huvudinnehåll till 0 pixlar topp och 10 pixlar nere och 0 pixlar vänster och 10 pixlar höger */
  border: 1px solid #000;
  /* Täcka en ram över huvudinnehållet */
  border-radius: 15px;
  /* Gör ramen rund till 15 pixlar */
  overflow: hidden;
  /* Gör Överflödet klippt */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Visar ramet som en flexibel behållare */
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.footer {
  text-align: center;
  /* Centrera texten i sidfoten */
  font-size: 16px;
  /* Gör sidfoten ha textstorlek 16 pixlar */
  margin: 10px;
  /* Flytta sidfoten till 10 pixlar från alla sidor */
}

.logobox {
  background: url("../Images/Logo.jpg") no-repeat center center;
  /* Lägg till bakgrundsbild(Logotypen) och att den itnte upprepas och det blir centrerat */
  height: 320px;
  /* Gör längden 320 pixlar för logotypen */
}

.logobild {
  display: inline-block;
  /* Visar logobilden som en blockbehållare. Logobilden är formaterat som ett inline-element, men du kan sätta längd- och breddvärden */
  margin: 10px auto;
  /* Flytta logotypen till 10 pixlar topp och automatisk nere */
  border-radius: 20px;
  /* Gör logotyp rund till 20 pixlar */
}

/* Mobilt cssmodell */
@media only screen and (max-width: 1400px) {
  .logobox {
    background-repeat: no-repeat;
    /* Gör Logodelen att inte upprepas */
    background-size: contain;
    /* Ändra storlek på bakgrundsbilden och se till att bilden är helt synlig oavsett situationer */
    background-position: center;
    /* Centrera bakgrundsbilden */
    margin: 0 10px 0 10px;
    /* Flytta logodelen 0pixlar top, 10 pixlar botten, 0 pixlar vänster och 10 pixlar höger */
  }
}
.menu-left span {
  border-bottom: 1px solid #cccccc;
  /* Skapa en ram i botten och den har 1 pixlar med typen solid och har färg #cccccc */
  padding: 5px;
  /* Gör litet rum 5 pixlar överallt i vänstra delen länkar */
  cursor: pointer;
  /* Gör länkarna i vänstra delen ha markrören pointer */
  display: block;
  /* Gör den som blockhållare och visa den */
}

.menu-left span:last-child span:last-child {
  border: 0;
  /* Gör sista länken ha 0 pixlar i ramen */
}

.menu-left span:hover {
  background-color: #ff0000;
  /* När markrören går över länkarna i vänstra delen gör bakgrundsfärg #ff0000 */
}

#container {
  font-family: Cambria, Georgia;
  /* Anpassa texttypsnittet för container till Cambria och Georgia */
  overflow: hidden;
  /* Gör Överflödet klippt */
  width: 1400px;
  /* Sätta bredden 1400 pixlar */
  margin: 0 auto;
  /* centrera container */
}

#posts {
  font-size: 20px;
  /* Visa inlägg i textstorlek 20 pixlar */
}

.maintable-left {
  float: left;
  /* Flytta vänstra delen till vänster*/
  width: 250px;
  /* Gör bredden i vänstra delen till 250 pixlar */
  background: #dadada;
  /* Lägg till i vänstra delen bakgrundsfärg #dadada */
}

.maintable-center {
  float: left;
  /* Flytta center delen till vänster */
  width: 898px;
  /* Gör centerdelen ha bredd 898 pixlar */
  background: #dadada;
  /* Lägg till i center delen bakgrundsfärg #dadada */
  border-left: 1px solid #000000;
  /* täcka vänster ram 1 pixlar med typen solid och ha färg #000000 */
  border-right: 1px solid #000000;
  /* täcka höger ram 1 pixlar med typen solid och ha färg #000000 */
  padding: 10px;
  /* Gör litet rum 10 pixlar överallt i center delen länkar */
}

.maintable-right {
  float: left;
  /* Flytta höger delen till vänster */
  width: 250px;
  /* Låt höger delen ha bredd 250 pixlar */
  background: #dadada;
  /* Lägg till i höger delen bakgrundsfärg #dadada */
}

.main {
  text-align: center;
  /* Centrera inloggningsvar */
}

.error {
  color: #ff0000;
  /* Låt felmeddelande ha rödfärg */
  text-align: center;
  /* Centrera felmeddelande */
}

.ajaxRequest {
  padding: 0 0 5px 0;
  /* Gör litet rum 0 pixlar toppen och 0 pixlar botten och 5 pixlar vänster och 0 pixlar */
  margin: 0 0 5px 0;
  /* Flytta 0 pixlar toppen och 0 pixlar botten och 5 pixlar vänster och 0 pixlar */
  border-bottom: 1px solid #000000;
  /* Täcka en bottenram 1 pixlar med typen solid och ha färg #000000 */
}

/* Mobilt cssmodell */
@media only screen and (max-width: 1400px) {
  #container {
    width: 100%;
    /* Gör container ha bredd 100% */
    margin: 0;
    /* Ta bort 0 pixlar av alla sidor */
  }

  .maintable-left,
.maintable-right {
    width: 25%;
    /* Gör den ha bredd 25% */
  }

  .maintable-center {
    width: 50%;
    /* Gör den ha bredd 50% */
  }
}