a
{
    text-decoration: none; /* Ta bort understrykning för länkar */
}
hr
{
    width: 150px; /* Gör linjen ha 150 pixlar bredd */
    float: left;/* Flytta linjen vänster */
}
.link
{
    color: blue; /* Gör länken gå tillbaa länken blå */
}
.link:hover
{
    cursor: pointer; /* När man pekar på länken gå tillbaka då visas markören pointer  */
}

#posts
{
    font-size: 20px; /* Visa inlägg i textstorlek 20 pixlar */
} 
#container
{
    font-family: Cambria, Georgia; /* Anpassa texttypsnittet för container till Cambria och Georgia */
    overflow: hidden; /* Gör Överflödet klippt */
    width: 1400px; /* Sätta bredden 1400 pixlar */
    margin: 0 auto; /* centrera container */
}

.logobox 
{
    background: url('../Images/Logo.jpg') no-repeat center center; /* Lägg till bakgrundsbild(Logotypen) och att den itnte upprepas och det blir centrerat */
    height: 320px; /* Gör längden 320 pixlar för logotypen */
}

.logobild 
{
    display: inline-block; /* Visar logobilden som en blockbehållare. Logobilden är formaterat som ett inline-element, men du kan sätta längd- och breddvärden */
    margin: 10px auto; /* Flytta logotypen till 10 pixlar topp och automatisk nere */
    border-radius: 20px; /* Gör logotyp rund till 20 pixlar */
}
.maintable
{
    margin: 0 10px 0 10px; /* Flytta ramet som täcker hela huvudinnehåll till 0 pixlar topp och 10 pixlar nere och 0 pixlar vänster och 10 pixlar höger */
    border: 1px solid black; /* Täcka en ram över huvudinnehållet */
    border-radius: 15px; /* Gör ramen rund till 15 pixlar */
    overflow: hidden; /* Gör Överflödet klippt */
    display: flex; /* Visar ramet som en flexibel behållare */
}


.menu-left span 
{
    border-bottom: 1px solid #cccccc; /* Skapa en ram i botten och den har 1 pixlar med typen solid och har färg #cccccc */
    padding: 5px; /* Gör litet rum 5 pixlar överallt i vänstra delen länkar */
    cursor: pointer; /* Gör länkarna i vänstra delen ha markrören pointer */
    display: block; /* Gör den som blockhållare och visa den */
}
#doit
{
    cursor: pointer; /* Gör länkarna delen för användaresdelen ha markrören pointer */
    color: blue; /* Gör länkarna delen för användaresdelen ha färg blå */
}
.menu-left span:last-child 
{
    border: 0px; /* Gör sista länken ha 0 pixlar i ramen */
}

.menu-left span:hover 
{
    background-color: #ff0000; /* När markrören går över länkarna i vänstra delen gör bakgrundsfärg #ff0000 */
}

.maintable-left 
{
    float: left; /* Flytta vänstra delen till vänster*/
    width: 250px; /* Gör bredden i vänstra delen till 250 pixlar */
    background: #dadada; /* Lägg till i vänstra delen bakgrundsfärg #dadada */
}

.maintable-center 
{
    float: left; /* Flytta center delen till vänster */
    width: 898px; /* Gör centerdelen ha bredd 898 pixlar */
    background: #dadada; /* Lägg till i center delen bakgrundsfärg #dadada */
    border-left: 1px solid #000000; /* täcka vänster ram 1 pixlar med typen solid och ha färg #000000 */
    border-right: 1px solid #000000; /* täcka höger ram 1 pixlar med typen solid och ha färg #000000 */
    padding: 10px;  /* Gör litet rum 10 pixlar överallt i center delen länkar */
}

.maintable-right 
{
    float: left; /* Flytta höger delen till vänster */
    width: 250px; /* Låt höger delen ha bredd 250 pixlar */
    background: #dadada; /* Lägg till i höger delen bakgrundsfärg #dadada */
}

.footer 
{
    text-align: center; /* Centrera texten i sidfoten */
    font-size: 16px; /* Gör sidfoten ha textstorlek 16 pixlar */
    margin: 10px; /* Flytta sidfoten till 10 pixlar från alla sidor */
}

.main
{
    text-align: center; /* Centrera inloggningsvar */
}

.searchbox2
{
    padding: 10px; /* Gör litet rum 10 pixlar överallt i sökdelen */
    border-bottom: 1px solid #000000; /* Täcka en bottenram 1 pixlar med typen solid och den ska ha färgen #000000 */
}

.loginbox2
{
    padding: 10px; /* Gör litet rum 10 pixlar överallt i logga in delen */
}
.registerbox
{
    position: relative; 
    left: 40%; /* Flytta registerdelen till 40% */
}
.error
{
    color: red; /* Låt felmeddelande ha rödfärg */
    text-align: center; /* Centrera felmeddelande */
}
.list
{
    list-style-position: inside; 
}

.ajaxRequest 
{
    padding: 0 0 5px 0; /* Gör litet rum 0 pixlar toppen och 0 pixlar botten och 5 pixlar vänster och 0 pixlar */
    margin: 0 0 5px 0; /* Flytta 0 pixlar toppen och 0 pixlar botten och 5 pixlar vänster och 0 pixlar */
    border-bottom: 1px solid #000000; /* Täcka en bottenram 1 pixlar med typen solid och ha färg #000000 */
}


