// Variables
$solidbrd: solid;
$leftpos: left;
$none: none;
$pointer: pointer;
$hid: hidden;
$cntr: center;
$dntrepeat: no-repeat;
$auto: auto;

// Selectors
$selectorMap: (
  global: "*",
  globalimg: "img",
  body: "body",
  globalLink: "a",
  line: "hr",
  link: ".link",
  wrapper: "#container",
  posts: "#posts",
  searchBox2: ".searchbox2",
  loginBox2: ".loginbox2",
  registerBox: ".registerbox",
  usrTxt: "#usrtxt",
  word: "#word",
  usrPass: "#usrpass",
  fullnameTxt: ".fullnametxt",
  emailTxt: ".emailtxt",
  pswTxt: ".passwordtxt",
  usrnameTxt: ".usrnametxt",
  title: ".title",
  content: ".content",
  author: ".author",
  changeTitle: ".changetitle",
  changeContent: ".changecontent",
  register: ".register",
  doIt: "#doit",
  list: ".list",
  mainTable: ".maintable",
  footer: ".footer",
  logoBox: ".logobox",
  logoBild: ".logobild",
  leftMenu: ".menu-left",
  leftMenuTable: ".maintable-left",
  centerMenuTable: ".maintable-center",
  rightMenuTable: ".maintable-right",
  main: ".main",
  err: ".error",
  ajaxRequest: ".ajaxRequest",
);
$colors: (
  blue: #0000ff,
  red: #ff0000,
  black: #000,
);

// Functions
@function color($val) {
  @return map-get($colors, $val);
}
