#{map-get($selectorMap, wrapper)} {
  font-family: $font; /* Anpassa texttypsnittet för container till Cambria och Georgia */
  overflow: $hid; /* Gör Överflödet klippt */
  width: 1400px; /* Sätta bredden 1400 pixlar */
  margin: $zero $auto; /* centrera container */
}

#{map-get($selectorMap, posts)} {
  font-size: $twentypx; /* Visa inlägg i textstorlek 20 pixlar */
}

#{map-get($selectorMap, leftMenuTable)} {
  float: $leftpos; /* Flytta vänstra delen till vänster*/
  width: $twohundredfiftypx; /* Gör bredden i vänstra delen till 250 pixlar */
  background: #dadada; /* Lägg till i vänstra delen bakgrundsfärg #dadada */
}

#{map-get($selectorMap, centerMenuTable)} {
  float: $leftpos; /* Flytta center delen till vänster */
  width: $eighthundredninetyeightpx; /* Gör centerdelen ha bredd 898 pixlar */
  background: #dadada; /* Lägg till i center delen bakgrundsfärg #dadada */
  border-left: $onepx $solidbrd #000000; /* täcka vänster ram 1 pixlar med typen solid och ha färg #000000 */
  border-right: $onepx $solidbrd #000000; /* täcka höger ram 1 pixlar med typen solid och ha färg #000000 */
  padding: $ten; /* Gör litet rum 10 pixlar överallt i center delen länkar */
}

.maintable-right {
  float: $leftpos; /* Flytta höger delen till vänster */
  width: $twohundredfiftypx; /* Låt höger delen ha bredd 250 pixlar */
  background: #dadada; /* Lägg till i höger delen bakgrundsfärg #dadada */
}

#{map-get($selectorMap, main)} {
  text-align: $cntr; /* Centrera inloggningsvar */
}

#{map-get($selectorMap, err)} {
  color: $redclr; /* Låt felmeddelande ha rödfärg */
  text-align: $cntr; /* Centrera felmeddelande */
}

#{map-get($selectorMap, ajaxRequest)} {
  padding: $zero $zero $fivepx $zero; /* Gör litet rum 0 pixlar toppen och 0 pixlar botten och 5 pixlar vänster och 0 pixlar */
  margin: $zero $zero $fivepx $zero; /* Flytta 0 pixlar toppen och 0 pixlar botten och 5 pixlar vänster och 0 pixlar */
  border-bottom: $onepx $solidbrd #000000; /* Täcka en bottenram 1 pixlar med typen solid och ha färg #000000 */
}

/* Mobilt cssmodell */
@media only screen and (max-width: 1400px) {
  #{map-get($selectorMap, wrapper)} {
    width: $hundred; /* Gör container ha bredd 100% */
    margin: $zero; /* Ta bort 0 pixlar av alla sidor */
  }

  #{map-get($selectorMap, leftMenuTable)},
  #{map-get($selectorMap, rightMenuTable)} {
    width: $twentyfivepr; /* Gör den ha bredd 25% */
  }

  #{map-get($selectorMap, centerMenuTable)} {
    width: $fiftypr; /* Gör den ha bredd 50% */
  }
}
