#{map-get($selectorMap, globalLink)} {
  text-decoration: $none; /* Ta bort understrykning för länkar */
}

#{map-get($selectorMap, link)} {
  color: color(blue); /* Gör länken gå tillbaa länken blå */
}

#{map-get($selectorMap, link)} {
  &:hover {
    cursor: $pointer; /* När man pekar på länken gå tillbaka då visas markören pointer  */
  }
}

#{map-get($selectorMap, doIt)} {
  cursor: $pointer; /* Gör länkarna delen för användaresdelen ha markrören pointer */
  color: color(blue); /* Gör länkarna delen för användaresdelen ha färg blå */
}
